/* ---------------------SESSAO PRINCIPAL DO MENU E CABECALHO-------------------------------------- */

#btnSairAdmin{
    background-color: #a259f9;
    border-radius: 5px;
    color: #ffffff;
}

.admin {
    background: url(../img/oculos.png) no-repeat top right;

    font-size: 14px;
    padding-right: 35px;
    text-align: right;
    width: 150px;

    position: absolute;
    text-decoration:none; 
    top: 0;
    right: 0;
}

.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
    text-decoration: none;
}

.menu-opcoes ul {
    font-size: 15px;
    text-decoration:none; 
}

.menu-opcoes ul li {
    display: inline;
    margin-left: 20px; 
    text-decoration:none; 
}

.menu-opcoes a {
    color: #003366;
    text-decoration:none; 
}

.menu-departamentos {
    background-color: #dcdcdc;
    /*font-weight: bold;*/
    text-transform: capitalize lowercase;
    float: left;
    margin-right: 10px;
    width: 230px;
    clear: left;
    margin-top: 5px;
    padding-bottom: 295px;

}
.menu-depertamentos h2 {
    margin: 10px;
    margin-left: 5px;
}

.menu-departamentos li li a:before {
    content: '\2741';
}
.menu-departamentos li {
    list-style-type: none; /* faz com que não apareça o símbolo que mostra que é uma lista sabe */
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 4px;
    border: 1px 0px 0px 2px solid #dcdcdc;
    margin: 1px 4px 0px 3px;
    border-radius: 3px;

}

.menu-departamentos a:hover{
    color: #550BA8
}

.menu-departamentos a {
    color: #202930;
    text-decoration: none;
}

 .menu-departamentos li ul {
    display: none;
    margin-top: 3px;
    
} 
.menu-departamentos li:hover ul {
    display: block;
    position: absolute;
    background-color: #ffffff;
    /* border: solid 1px; */
}

.menu-departamentos ul ul li {
    background-color: #dcdcdc;
}

.menu-departamentos ul li ul {
    display: none;
}

.menu-departamentos ul li:hover ul {
    display: block;
}
.menu-departamentos ul li ul li {
    background-color: #dcdcdc;
}
.menu-departamentos li li a:before {
    content: '\2741';
}

a{
    text-decoration: none;
    color:#003366;
}

a:hover {
    color: #007dc6;
    text-decoration:none;
}

a:active {
    color: #867dc6;
    text-decoration:none;
}

header {
    position: relative;
}

/*  ---------------------------------------------------------------- */

body {
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande";
}

.container {
    margin: 0 auto;
    margin-top: 0px;
    width: 940px;
    text-decoration: none;
}

.destaque {
    margin-top: 10px;
    margin-bottom: 75px;
}

/* -------------  RODAPE  ------------------- */

footer {
    background-image: url(../img/fundo-rodape.png);
    clear: both;
    padding: 10px 0;
    margin: 0 auto;
}

footer .container {
    position: relative;
    /*margin-bottom: 20px;*/
}

.social {
    top: 20px;
    margin-left: 650px;
    margin-top: 1.5px;
    vertical-align: middle;

}

.social li {
    position: relative;
    float: right; 
    margin-top: -29px;
    list-style-type: none;
    margin-right: 20px;
    text-align: center;
}

.social a {
    /*tamanho do imagem */
    height: 33px;
    width: 32px;
/* 
    /*image replacement */
    display: block;
    text-indent: -9999px;  
}

 .social a[href*="facebook.com"] {
    background-image: url(../img/face.png);
}

.social a[href*="twitter.com"] {
    background-image: url(../img/twit.png);
}

.social a[href*="plus.google.com"] {
    background-image: url(../img/gplus.png);
}


/* NÃO MEXER */
#copy{
    list-style-type: none;
    text-align: center;
    color: #fff;
    margin-top: -40px;
} 
/* ------------- */


/* CSS DOS JAVASCRIPT  - BOTÃO DE PLAY/PAUSE DOS BANNERS */
.destaque {
    position: relative;
}
.pause,
.play {
display: block;
position: absolute;
right: 15px;
top: 15px;
}
.pause {
border-left: 10px solid #5F5F5F;
border-right: 10px solid #5F5F5F;
height: 30px;
width: 5px;
}
.play {
border-left: 25px solid #5F5F5F;
border-bottom: 15px solid transparent;
border-top: 15px solid transparent;
}

