
/* BLUSA AMARELA - VERDE - PRETO*/

/* -----------------MENU E CABEÃ‡ALHO------------------------------------------- */

.sacola {
	background: url(../img/sacola_1.png) no-repeat top right;

	font-size: 14px;
	padding-right: 35px;
	text-align: right;
	width: 59px;

	position: absolute;
	
}
.menu-departamentos li li a:before {
    content: '\2741';
}

a{
	text-decoration: none;
	color:#003366;
}

 a:hover {
	color: #007dc6;
	text-decoration:none;
}

a:active {
	color: #867dc6;
	text-decoration:none;
}

header {
	position: relative;
}

.menu-opcoes {
	position: absolute;
	bottom: 0;
	right: 0;
	text-decoration: none;
}

.menu-opcoes ul {
	font-size: 15px;
	text-decoration:none; 
}

.menu-opcoes ul li {
	display: inline;
	margin-left: 20px; 
	text-decoration:none; 
}

.menu-opcoes a {
	color: #003366;
	text-decoration:none; 
}
/*  ---------------------------------------------------------------- */
/*  pagina 105  */

/*Adicionando estados nos links */

.menu-opcoes a:hover {
	color: #007dc6;
	text-decoration:none; 
}
.menu-opcoes a:active {
	color: #867dc6;
	text-decoration:none; 
}


/*  ---------------------------------------------------------------- */


/* MENU DOS DEPARTAMENTOS */

.busca input [type=search] {
	width: 150px;
}

/* ESSE INPUT DEIXA O CAMPO DA BUSCA GRANDE O QUE ACABA
FAZENDO COM QUE O Ã�CONE DA LUPA FIQUE PRA BAIXO */
/* input{
	font: 1em sans-serif;
} */

.destaque {
	margin-top: 10px;
}
.busca {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;

}

.busca,
.menu-departamentos {
	background-color: #dcdcdc;
	/*font-weight: bold;*/
	/*text-transform: capitalize lowercase;*/
	float: left;
	margin-right: 10px;
	width: 230px;
	position: static;

}

.menu-depertamentos h2 {
	margin: 10px;
	margin-left: 4px;
}

.menu-departamentos {
	clear: left;
	margin-top: 5px;
	padding-bottom: 10px;
}

.menu-departamentos li {
	list-style-type: none; /* faz com que nÃ£o apareÃ§a o sÃ­mbolo que mostra que Ã© uma lista sabe */
	background-color: white;
	margin-bottom: 1px;
	padding: 5px 3px;
	margin: 1px 2px 0px 2px;
	border-radius: 3px;
}

/*ADICIONANDO ESTILO - COMO OS LINKS SE COMPORTAM NO MENU DOS DEPARTAMENTOS */
.menu-departamentos li ul {
	display: none;
	margin-top: 3px;
	margin-left: -10px;
}
.menu-departamentos li:hover ul {
	display: block;
	position: absolute;

	background-color: #FFFFFF;
}

.menu-departamentos ul ul li {
	background-color: #dcdcdc;
}

.painel h2:before {
content: '\27BE'; /* muda o icone que fica ao lado do titulo*/
padding-right: 50px;
opacity: 0.4;
}

.menu-departamentos ul li ul {
	display: none;
}

.menu-departamentos ul li:hover ul {
	display: block;
}
.menu-departamentos ul li ul li {
	background-color: #dcdcdc;
}
.menu-departamentos li li a:before {
	content: '\2741';
	padding-right: 3px;
}

/*FIM DAS ALTERAÃ‡Ã•ES */


#imagemProduto{
	max-width: 28%;
    max-height: 100%;
    position: absolute;
    top:0;
    left:30px;
    border: 2px solid #ccc;
}

/*--------------------------------------------------------------------*/
/*Primeiro, vamos desenhar as bolinhas coloridas com pseudo-elementos do CSS3 usando um truque com
bordas redondas infinitas: */


.cores label:after {
	content: '';
	display: block;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}
label[for=preto]:after {
	background-color: #000000;
}
label[for=amarelo]:after {
	background-color: #F7DC23;
}
label[for=verde]:after {
	background-color: #2A612B;
}
/*PrÃ³ximo passo Ã© estilizar a bolinha atualmente selecionada usando pseudo-classe :checked: */

.cores input:checked + label:after {
	border: 6px solid rgba(0,0,0,0.3);
}

/*Repare como a borda da bolinha selecionada aumenta o tamanho total da bolinha por causa do box model
padrÃ£o. Uma soluÃ§Ã£o Ã© trocar o box model com a propriedade box-sizing:
*/
.cores label:after {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* um estilo para quando passar o mouse em cima da bolinha, como mostrar
uma borda mais leve*/
.cores label:hover:after {
	border: 6px solid rgba(0,0,0,0.1);
}

/*Agora que temos as bolinhas coloridas visuais configuradas, a bolinha do input radio Ã© desnecessÃ¡ria.
Esconda-a:*/
.cores input[type=radio] {
	display: none;
}
/*Para fechar a funcionalidade de escolha das cores, falta apenas exibir apenas a imagem 
atualmente selecionada. Outra forma de falar isso Ã© que devemos esconder as imagens dos 
radios nÃ£o selecionados. Podemos usar um seletor avanÃ§ado para isso:*/

.cores input:not(:checked) + label img {
	display: none;
}

/*vamos implementar o posicionamento correto das bolinhas lado a lado. 
Para isso, use position:absolute jÃ¡ que seus tamanhos sÃ£o conhecidos:*/
.cores label:after {
	position: absolute;
	border:6px solid rgba(0,0,0,0);
	transition: 1s;
}
/*As bolinhas vÃ£o ser posicionadas com relaÃ§Ã£o ao fieldset cores, entÃ£o ele precisa estar posicionado. O
padding superior Ã© para abrir espaÃ§o para as bolinhas:*/

.cores {
	position: relative;
	padding-top: 80px;
}

/* Cada bolinha Ã© um label:after, basta posicionÃ¡-las absolutamente: */
.cores label:after {
	position: absolute;
	top: 30px;
}

/*As bolinhas ficaram sobrepostas na esquerda. Para corrigir, basta colocar uma coordenada left diferente
para cada uma:*/

label[for=verde]:after {
	left: 0;
}
label[for=rosa]:after {
	left: 60px;
}
label[for=azul]:after {
	left: 120px;
}

/*Uma forma de corrigir o problema anterior Ã© garantir que ela nunca passe o tamanho do pai com
max-width:*/
.cores label img {
	display: block;
	max-width: 100%;
}

/*CONFIGURAÃ‡ÃƒO PARA TODOS PRODUTOS */
.produto {
	color: #333;
	line-height: 1.3;
	/*margin-top: 2em;*/
	/*position: relative;*/
	clear: right;
	/*margin-bottom: 50px;*/

	padding-left: 60%;
	text-align: center;
}

.produto div{
	/*margin-left: 60%;*/
}

/* POSIÃ‡ÃƒO QUE A IMAGEM DO PRODUTO FICA ENTRE O MENU DOS DEPARTAMENTOS E OS DADOS COM COR, TAMANHO ETC */
.produto img {
	margin-left: 260px;
	margin-top: 20px;
	/* Borda arredondada */
	 border-radius: 20px;
	/*position: static;*/
}

.produto h1 {
	font-size: 1.8em;
	font-weight: bold;
}

.produto p {
	font-size: 1.2em;
	margin-bottom: 10px;
	/*font-style: italic;
	 margin-bottom: 1em; */
}
/*legenda*/
.produto legend {
	display: block;
	font: bold 0.9em/2.5 Arial;
	text-transform: uppercase;
}
/* BOTÃƒO DE COMPRAR */
.comprar {
	background: #91bd3c; /* 
	background: #85DD3C ;
	/* border: none; */
	color: #333;
	font-size: 1.4em;
	border-radius: 6px;
	text-transform: uppercase;
	box-shadow: 0 1px 3px #000;
	display: block;
	padding: 0.5em 1em;
	margin-left: 110px;
	/*margin: 1em 0;*/
	text-align: center;
	 /* Para ter espaço entre o botão comprar e o campo de quantidade
	 margin-top:30px; */
}
/*------------------------------------------------------------------------*/
.cores {
	position: static;
	padding: 0;
	width: 200px;
}
.cores label img {
/* imagem se posiciona absolutamente Ã  esquerda com relaÃ§Ã£o ao .produto */
	position: static;
	top: 0;
	left: 0;
}
.cores label:after {
/* as bolinhas coloridas tinham posiÃ§Ã£o absoluta.
nÃ£o precisamos mais, basta flutuar uma do lado da outra */
	position: static;
	float: left;
}

/*---------------------------------------------------------------------------------*/
.cores label img {
	max-width: 30%;
	max-height: 100%;
	position: absolute;
}

.cores label:after {
	margin-right: 10px;
	margin-left: 5px;
}

/*------------------------------------------------------------------------------*/
/* Parte de escolher tamanho*/

fieldset {
	display: inline-block;
	vertical-align: top;
    border-radius: 6px;
	/*margin: 1em 0;*/
	margin: 10px;
	/* min-width: 200px; */
	width: 45%;
}

#tamanho {
	width: 190px;
}

/*----------------------------------------------------------------------*/
/*Descricao*/


#detalhes h2{
	font-size: 1.5em;
	margin-bottom: 5px;
	/*width: 400px;*/
	margin-left: 30px;
}

#detalheProduto{
	/*margin: 1em 2em 0 0;*/
	font-size: 1em;
	line-height: 1.5;
	/*max-width: 36em;*/
	/*width: 400px;*/
	font-size: 15px;
	text-align: left;
	margin-bottom: 30px;

}

/*TABELA*/
#tabela{

	padding-left: 40px;
}

table {
	border-spacing: 0.2em;
	border-collapse: separate;
	position: static;
	margin-left: 530px;

	padding-bottom: 10px;
}
thead {
	background-color: #999;
}
thead th {
	font-weight: bold;
	padding: 0.3em 1em;
	text-align: center;
}
td {
	padding: 0.3em;
	text-align: center;
}
tr:nth-child(2n) {
	background-color: #ccc;
}
td:first-child {
	font-style: italic;
}
/*--------------------------------------------------------------------------*/
/*PRODUTO BACK*/
.produto-back {
	background-color: #F2F2F2;
	margin-top: 5px;
	border-top: 1px solid #ccc;
	}
.cores label img {
	border: 2px solid #ccc;
}
