
/*CÓDIGOS PARA TELA NOVA-CONTA, SUACONTA, TELA_SALVAR */


.sacola {
	background: url(../img/sacola_1.png) no-repeat top right;

	font-size: 14px;
	padding-right: 35px;
	text-align: right;
	width: 59px;

	position: absolute;
	text-decoration:none; 
	top: 0;
	right: 0;
}
.menu-departamentos li li a:before {
    content: '\2741';
}

header {
	position: relative;
}

.menu-opcoes {
	position: absolute;
	bottom: 0;
	right: 0;
}

.menu-opcoes ul {
	font-size: 15px;
}

.menu-opcoes ul li {
	display: inline;
	margin-left: 20px; 
}

.menu-opcoes a {
	color: #003366;
}

/*Adicionando estados nos links */
.menu-opcoes a:hover {
	color: #007dc6;
	text-decoration:none; 
}
.menu-opcoes a:active {
	color: #007dc6;
	text-decoration:none; 
}

/* DEIXA COMO PADRÃO EM TODAS AS TELAS */

body {
	color: #333333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin: 0 auto;
  	margin-top: 0px;	
}

.container {
	margin: 0 auto;
  	margin-top: 0px;
	width: 940px;
}

/* MENU DOS DEPARTAMENTOS */

.busca input [type=search] {
	width: 170px;

}

.destaque {
	margin-top: 10px;
}

/* MENU DOS DEPARTAMENTOS */
.menu-departamentos {
	background-color: #dcdcdc;
	/*font-weight: bold;*/
	float: left;
	width: 180px;
	height: 400px;
	padding-bottom: 40px;
	margin-bottom: 20px;
	height: 520px;
}

.menu-departamentos li {
	list-style-type: none; /* faz com que não apareça o símbolo que mostra que é uma lista sabe */
	background-color: white;
	margin-bottom: 1px;
	padding: 5px 3px;
	border: 1px 0px 0px 2px solid #dcdcdc;
	margin: 1px 2px 0px 2px;
	border-radius: 3px;
}

.menu-departamentos a {
	color: #202930;
	text-decoration: none;
}

/* COR DE QUANDO O MOUSE PASSA ENCIMA */
.menu-departamentos a:hover{
	color: #550BA8
}

/*ADICIONANDO ESTILO - COMO OS LINKS SE COMPORTAM NO MENU DOS DEPARTAMENTOS */
.menu-departamentos li ul {
	display: none;
	margin-top: 3px;
	margin-left: -10px;
}
.menu-departamentos li:hover ul {
	display: block;
	position: absolute;

	background-color: #FFFFFF;
}

.menu-departamentos ul ul li {
	background-color: #dcdcdc;
}

.painel h2:before {
content: '\2756';
padding-right: 5px;
opacity: 0.4;
}

/*#welcome{
	width: 700px;
	height: 400px;
	margin-left: 120px;
	border-radius: 40%;
  	margin-bottom: 5px;

}*/
/*FIM DAS ALTERAÇÕES DO MENU DE DEPARTAMENTOS*/


/* PARTE PRINCIPAL - FORMULARIO */
.formulario{

    /* Apenas para centralizar o form na página */
     /* margin left - estava inativo pois não tinha menu dos departamentos*/
  	margin-left: 200px;
  	/* APENAS PARA SEPARAR DO OUTRO FORM */
  	margin-bottom: 30px;
    /*width: 700px;*/
    /* Para ver as bordas do formulário */
    padding: 2em;
    border: 3px outset;/* 1px solid #696969; */
    border-radius: 0.5em;
}

/* FORMULARIO DE ENDERECO */


.formulario_end{

    /* Apenas para centralizar o form na pagina */
  	margin-left: 195px;
  	/* APENAS PARA SEPARAR DO OUTRO FORM */
  	margin-bottom: 30px;
    width: 800px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border:3px outset/*  1px solid #696969 */;
    border-radius: 0.5em;
    text-align: center;
}

#endereco {
	margin-left: 50px;
}

#botoes{
    margin-left: -500px;
}
/* FORMULARIO DE CARTAO DE CREDITO */


.formulario_credito{

    /* Apenas para centralizar o form na pagina */
  	margin-left: 195px;
  	/* APENAS PARA SEPARAR DO OUTRO FORM */
  	margin-bottom: 30px;
    width: 740px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 3px outset/* 1px solid #696969 */;
    border-radius: 0.5em;
    text-align: center;
}

td{
	border: 1px solid #575353;
	padding-right: 3px;
	padding-left: 3px;
}

th{
	padding-right: 3px;
	padding-left: 3px;
}
input{
	font: 1em sans-serif;
	margin-left: 5px;
	margin-top: 4px;
	border: 1px solid #AFA9A9;
	border-radius: 4px;
}

/*TITULO DOS CAMPOS*/
label {
    /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas - area*/
    /*display: inline-block;*/
    /*text-align: center;*/
    padding: 3.1px;
}

#nome{
	/* tamanho da caixa de texto */
	width: 150px;
}

#CPF{
	/* tamanho da caixa de texto */
	width: 110px;
	text-align: center;
}

#email{
	/* tamanho da caixa de texto */
	width: 250px;

}
#senha{
	width: 100px;
	text-align: center;
}

#confsenha{
	width: 100px;
	text-align: center;
}
#tipoResidencia {
	width: 70px;
}
#CEP{
	margin: 5.1px;
	width: 93px;
	text-align: center;
}
#numero {
	width: 30px;
}

#homem{
	margin-left: 5px;
}

#logradouro{
	/*margin-right: 5px;
	margin-left: 5px;*/
	width: 230px;
}
#bairro{
	width: 95px;
}
#complemento{
	width: 130px;
}
#estado{
	margin-top: 5px;
	/*width: 150px;*/
}
#cidade{
	width: 170px;
	margin-bottom: 10px;
}

#textarea {
	width: 625px;
	height: 60px;
}

/*BOTÕES DE VOLTAR/SALVAR */
.button {
    /* Para posicionar os botões para a mesma posição dos campos de texto */
    /*padding-left: 50px;  mesmo tamanho que os elementos do tipo label */

    /* Esta margem extra representa aproximadamente o mesmo espaço que o espaço entre as labels
     e os seus campos de texto*/
     /*Serviu para deixar no meio do form, se for necessário*/
    margin-left: 200px;
}

#btnSair{
    background-color: #e38abd;
    border-radius: 6px;
}


#btnExcluir {
    background-color: #ff6666;
    border-radius: 6px;
}

#btnConsultar{
    background-color: #95DDFE;
    border-radius: 6px;
}

#btnSalvar{
    background-color: #8AF754;
    border-radius: 6px;
}

#btnAlterar {
	background-color: rgb(252, 235, 112);
    border-radius: 6px;

 }
#btnVoltar{
    background-color: #FEFD8F;
    border-radius: 6px;
   
}

.button_suaconta{
	margin-left: 200px;
	margin-top: 20px;
}

/*TEXTO DOS BOTÕES, DO MENU E DO MENU NA PARTE SUPERIOR*/
a{
	text-decoration: none;
	color: #003366;
}

a:hover {
	color: #BE61FF;
}
/*TAMANHO DA FONTE DOS BOTÕES*/
button a{
	font-size: 14px;
}


/* RODAPÉ */

footer {
	background-image: url(../img/fundo-rodape.png);
	clear: both;
	padding: 20px 0;
}

footer .container {
	position: relative;
}

.social {
	position: absolute;
	top: 12px;
	right: 0;
}

/* deixar os icones no meio/ centralizados */
.social li {
	float: left;
	margin-left: 25px;
	margin-top: -21px;
	list-style-type: none;
}

.social a {
	/*tamanho do imagem */
	height: 32px;
	width: 32px;

	/*image replacement */
	display: block;
	text-indent: -9999px;
}

.social a[href*="facebook.com"] {
	background-image: url(../img/face.png);
}

.social a[href*="twitter.com"] {
	background-image: url(../img/twit.png);
}

.social a[href*="plus.google.com"] {
	background-image: url(../img/gplus.png);
}

.sacola {
	background: url(../img/sacola_1.png) no-repeat top right;

	font-size: 14px;
	padding-right: 35px;
	text-align: right;
	width: 59px;

	position: absolute;
	top: 0;
	right: 0;
}



/*  ---------------------------------------------------------------- */

.container {
	margin: 0 auto;
  	margin-top: 0px;
	width: 940px;
	text-decoration: none;
}





/* RODAPÉ */

footer {
	background-image: url(../img/fundo-rodape.png);
	clear: both;
	padding: 20px 0;
}

footer .container {
	position: relative;
}

.social {
	position: absolute;
	top: 12px;
	right: 0;
	vertical-align: middle;
}

.social li {
	float: right;
	margin-left: 25px;
	margin-top: -21px;
	list-style-type: none;
}

.social a {
	/*tamanho do imagem */
	height: 32px;
	width: 32px;

	/*image replacement */
	display: block;
	text-indent: -9999px;
}

.social a[href*="facebook.com"] {
	background-image: url(../img/face.png);
}

.social a[href*="twitter.com"] {
	background-image: url(../img/twit.png);
}

.social a[href*="plus.google.com"] {
	background-image: url(../img/gplus.png);
}
