
/*CÓDIGOS PARA TELA NOVA-CONTA, SUACONTA, TELA_SALVAR */


.sacola {
	background: url(../img/sacola_1.png) no-repeat top right;

	font-size: 14px;
	padding-right: 35px;
	text-align: right;
	width: 59px;

	position: absolute;
	text-decoration:none; 
	top: 0;
	right: 0;
}

header {
	position: relative;
}

.menu-opcoes {
	position: absolute;
	bottom: 0;
	right: 0;
}

.menu-opcoes ul {
	font-size: 15px;
}

.menu-opcoes ul li {
	display: inline;
	margin-left: 20px; 
}

.menu-opcoes a {
	color: #003366;
}

/*Adicionando estados nos links */
.menu-opcoes a:hover {
	color: #007dc6;
	text-decoration:none; 
}
.menu-opcoes a:active {
	color: #007dc6;
	text-decoration:none; 
}

/* DEIXA COMO PADRÃO EM TODAS AS TELAS */

body {
	color: #333333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin: 0 auto;
  	margin-top: 0px;
  	/* background: rgb(255,38,118);
    background: linear-gradient(0deg, rgba(255,38,118,1) 6%, rgba(244,243,255,0.14889705882352944) 67%);	 */
}

.container {
	margin: 0 auto;
  	margin-top: 0px;
	width: 940px;
}

/* MENU DOS DEPARTAMENTOS */

.busca input [type=search] {
	width: 170px;

}

.destaque {
	margin-top: 10px;
}

/* MENU DOS DEPARTAMENTOS */
.menu-departamentos {
	background-color: #dcdcdc;
	/*font-weight: bold;*/
	float: left;
	width: 215px;
	padding-bottom: 40px;
	margin-bottom: 5px;
}

.menu-departamentos li {
	list-style-type: none; /* faz com que não apareça o símbolo que mostra que é uma lista sabe */
	background-color: white;
	margin-bottom: 2px;
	padding: 5px 5px;

}

.menu-departamentos a {
	color: #202930;
	text-decoration: none;
}

/* COR DE QUANDO O MOUSE PASSA ENCIMA */
.menu-departamentos a:hover{
	color: #550BA8
}

/*ADICIONANDO ESTILO - COMO OS LINKS SE COMPORTAM NO MENU DOS DEPARTAMENTOS */
.menu-departamentos li ul {
	display: none;
	margin-top: 3px;
	margin-left: -10px;
}
.menu-departamentos li:hover ul {
	display: block;
	position: absolute;

	background-color: #FFFFFF;
}

.menu-departamentos ul ul li {
	background-color: #dcdcdc;
}

.painel h2:before {
content: '\2756';
padding-right: 5px;
opacity: 0.4;
}

/*#welcome{
	width: 700px;
	height: 400px;
	margin-left: 120px;
	border-radius: 40%;
  	margin-bottom: 5px;

}*/
/*FIM DAS ALTERAÇÕES DO MENU DE DEPARTAMENTOS*/


/* PARTE PRINCIPAL - FORMULARIO */
.formulario{

    /* Apenas para centralizar o form na página */
  	margin-left: 220px;
  	margin-right: -70px;
  	margin-bottom: 5px;
    /*width: auto;*/
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 1px solid #616161;
    border-radius: 0.5em; 
    background-color: #ffffff;
}
form div {
	/* margin-top: 20px; */
	margin-bottom: 5px;
}

input{
	/* font: 1em sans-serif; */
	margin-left: auto;
	height: 20px;
	border: 1px solid #AFA9A9;
	border-radius: 4px;
}

/* TABELA */
.tabela{
	border: 1px solid #AFA9A9;
	text-align: center;
}

/*TITULO DOS CAMPOS*/
label {
    /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas - area*/
    /* margin-right: 5px; */
    font-size: 90%;
    /*margin-left: 10px;*/
}

#nome{
	 /* tamanho da caixa de texto  */
	width: 180px;
}

#CPF{
	/* tamanho da caixa de texto */
	width: 100px;
	/* text-align: center; */
}

#email{
	/* tamanho da caixa de texto */
	width: 240px;
	margin-top: 6px;
}

#senha, #confsenha{
	width: 100px;
	margin-top: 6px;
	/* text-align: center; */
}

#tab_dados{
	width: 425px;
}

#CEP{
	/* margin: 5.1px; */
	width: 70px;
}

#homem{
	margin-left: 5px;
}

#logradouro{
	/*margin-right: 5px;
	margin-left: 5px;*/
	width: 270px;
	margin-top: 6px;
}
#numero{
	width: 24px;
	margin-top: 6px;
}
#bairro{
	width: 150px;
	margin-top: 6px;
}
#complemento{
	width: 130px;
}
#estado{
	margin-top: 5px;
	width: 150px;
}
#cidade{
	width: 180px;
	margin-bottom: 10px;
}

/* FORMULARIO DA TELA DE SAIR */
.formulario_sair{
	/* margin-left: 245px; */
    margin-bottom: 5px;
    /* width: 700px; */
    padding: 2em;
    border: 1px solid #696969;
    border-radius: 0.5em;
}

.button_sair{
	padding-left: 308px;
}

.button {
    /* Para posicionar os botões para a mesma posição dos campos de texto */
    padding-left: 150px; /* mesmo tamanho que os elementos do tipo label */

    /* Esta margem extra representa aproximadamente o mesmo espaço que o espaço entre as labels
     e os seus campos de texto*/
     /*Serviu para deixar no meio do form*/
  	margin-right: 75px;
}

.button_suaconta{
	 margin-left: 200px;

}

/*TEXTO DOS BOTÕES, DO MENU E DO MENU NA PARTE SUPERIOR*/
a{
	text-decoration: none;
	color: #003366;
}

a:hover {
	color: #BE61FF;
}
/*TAMANHO DA FONTE DOS BOTÕES*/
button a{
	font-size: 14px;
}


/* RODAPÉ */

footer {
	background-image: url(../img/fundo-rodape.png);
	clear: both;
	padding: 20px 0;
	margin-top: 30%;
}

footer .container {
	position: relative;
}

/*  ---------------------------------------------------------------- */

.container {
	margin: 0 auto;
  	margin-top: 0px;
	width: 940px;
	text-decoration: none;
}


/* RODAPÉ */

footer .container {
	position: relative;
}

.social {
	position: absolute;
	top: 12px;
	right: 0;
	vertical-align: middle;
}

.social li {
	float: right;
	margin-left: 25px;
	margin-top: -21px;
	list-style-type: none;
}

.social a {
	/*tamanho do imagem */
	height: 32px;
	width: 32px;

	/*image replacement */
	display: block;
	text-indent: -9999px;
}

.social a[href*="facebook.com"] {
	background-image: url(../img/face.png);
}

.social a[href*="twitter.com"] {
	background-image: url(../img/twit.png);
}

.social a[href*="plus.google.com"] {
	background-image: url(../img/gplus.png);
}
