
/* ---------------------SESSAO PRINCIPAL DO MENU E CABECALHO-------------------------------------- */

#btnSairAdmin{
    background-color: #a259f9;
    border-radius: 5px;
    color: #ffffff;
}

.admin {
	background: url(../img/oculos.png) no-repeat top right;

	font-size: 14px;
	padding-right: 35px;
	text-align: right;
	width: 150px;

	position: absolute;
	text-decoration:none; 
	top: 0;
	right: 0;
}
.menu-departamentos li li a:before {
    content: '\2741';
}
a{
	text-decoration: none;
	color:#003366;
}

a:hover {
	color: #007dc6;
	text-decoration:none;
}

a:active {
	color: #867dc6;
	text-decoration:none;
}

header {
	position: relative;
}

.menu-opcoes {
	position: absolute;
	bottom: 0;
	right: 0;
	text-decoration: none;
}

.menu-opcoes ul {
	font-size: 15px;
	text-decoration:none; 
}

.menu-opcoes ul li {
	display: inline;
	margin-left: 20px; 
	text-decoration:none; 
}

.menu-opcoes a {
	color: #003366;
	text-decoration:none; 
}
/*  ---------------------------------------------------------------- */
/*  pagina 105  */

/*Adicionando estados nos links */

.menu-opcoes a:hover {
	color: #007dc6;
	text-decoration:none; 
}
.menu-opcoes a:active {
	color: #867dc6;
	text-decoration:none; 
}


/*  ---------------------------------------------------------------- */

body {
	color: #333333;
	font-family: "Lucida Sans Unicode", "Lucida Grande";
}

.container {
	margin: 0 auto;
  	margin-top: 0px;
	width: 940px;
	text-decoration: none;
}

/* MENU DOS DEPARTAMENTOS */

.busca input {
	border-radius: 5px; /* deixar a caixinha arredondada*/
	vertical-align: middle;
}

.busca input [type=search] {
	width: 150px;
}

/* input{
	font: 1em sans-serif;
} */

.destaque {
	margin-top: 10px;
	margin-bottom: 75px;
}
.busca {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	margin-right: 10px;
}

.busca,
.menu-departamentos {
	background-color: #dcdcdc;
	/*font-weight: bold;*/
	text-transform: capitalize lowercase;
	float: left;
	margin-right: 10px;
	width: 230px;

}

.busca h2,
.busca form,
.menu-depertamentos h2 {
	margin: 10px;
	margin-left: 5px;
}

.menu-departamentos {
	clear: left;
	margin-top: 5px;
	padding-bottom: 175px;
}

.menu-departamentos li {
	list-style-type: none; /* faz com que não apareça o símbolo que mostra que é uma lista sabe */
	background-color: white;
	margin-bottom: 1px;
	padding: 5px 4px;
	border: 1px 0px 0px 2px solid #dcdcdc;
	margin: 1px 4px 0px 3px;
	border-radius: 3px;

}

.menu-departamentos a {
	color: #202930;
	text-decoration: none;
}

/* COR QUE FICA QUANDO PASSA MOUSE ENCIMA DOS LINKS DOS DEPARTAMENTOS*/
/* COR DE QUANDO O MOUSE PASSA ENCIMA */
.menu-departamentos a:hover{
	color: #550BA8
}

/*ADICIONANDO ESTILO - COMO OS LINKS SE COMPORTAM NO MENU DOS DEPARTAMENTOS */
 .menu-departamentos li ul {
	display: none;
	margin-top: 3px;
	
} 
.menu-departamentos li:hover ul {
	display: block;
	position: absolute;
	background-color: #ffffff;
	/* border: solid 1px; */
}

.menu-departamentos ul ul li {
	background-color: #dcdcdc;
}

.menu-departamentos ul li ul {
	display: none;
}

.menu-departamentos ul li:hover ul {
	display: block;
}
.menu-departamentos ul li ul li {
	background-color: #dcdcdc;
}
.menu-departamentos li li a:before {
	content: '\2741';
}

/*FIM DAS ALTERAÇÕES PRINCIPAIS DO MENU */



/*PAINEIS - NOVIDADES E MAIS VENDIDOS */

.painel h2:before {
content: '\27BE'; /* muda o icone que fica ao lado do titulo*/
padding-right: 10px;
opacity: 0.4;
}

.painel {
	margin: 10px 0;
	/*padding: 10px;*/
	width: 445px;
	border-radius: 4px;
	/*box-shadow: inset 1px 1px 4px #999;  inset = bordar internas*/
}

.painel li {
	display: inline-block;
	vertical-align: top;
	padding-bottom: 5px;
	transition: 0.7s;
}


.painel li:hover{
	/* Faz com que mostre uma sombra por trás e que ela apareça suavemente*/
	/*box-shadow: 0 0 5px #333;*/
	/*transition: box-shadow 0.7s;*/
/* faz com que o fundo fique branco quando passar o mouse por cima do produto*/
	/*background-color: rgb(255,255,255);*/
	/*box-shadow: 0 0 10px #A6A6A6;*/
		/*transition: 0.7s;
/* Quando passar o mouse, aumenta o elemento em 20%, como se fosse um ZOOM*/
	/*transform: scale(1.2) rotate(-1deg); /*rotaciona em 2 graus sentido anti-horário*/
	font-family: "Lucida Sans Unicode", "Lucida Grande";
	/*text-decoration-style: double;*/

}

.painel h2 {
	font-size: 25px; /* título dos paineis*/
	font-weight: bold;
	padding-bottom: 15px;
	text-transform: capitalize;

	margin-bottom: 10px;

/*	text-shadow: 3px 3px 2px #FFF;*/
	text-shadow: 1px 1px 2px rgba(255,255,255, 0.8); /* 80% */
}

.painel a {
	color: #000;
	font-size: 16px;
	text-align: center; 
	text-decoration: none;
}

.novidades {
	background-color: #f5dcdc;
	float: left;

	background: linear-gradient(#f5dcdc, #FFC9C9);
}


.mais-vendidos {
	float: right;
	background-color: #dcdcf5;

	background: linear-gradient(#dcdcf5, #f4bebe);
}


section li img {
	width: 180px;
	margin: 5px;

}

.painel figcaption{
	width: 180px;
	font-size: 16px;
	padding-bottom: 5px;
}

/* RODAPÉ */

footer {
	background-image: url(../img/fundo-rodape.png);
	clear: both;
	padding: 10px 0;
	margin: 0 auto;
}

footer .container {
	position: relative;
	/*margin-bottom: 20px;*/
}

.social {
	top: 20px;
	margin-left: 650px;
	margin-top: 1.5px;
	vertical-align: middle;

}

.social li {
	position: relative;
	float: right; 
	margin-top: -29px;
	list-style-type: none;
	margin-right: 20px;
	text-align: center;
}

.social a {
	/*tamanho do imagem */
	height: 33px;
	width: 32px;
/* 
	/*image replacement */
	display: block;
	text-indent: -9999px;  
}

 .social a[href*="facebook.com"] {
	background-image: url(../img/face.png);
}

.social a[href*="twitter.com"] {
	background-image: url(../img/twit.png);
}

.social a[href*="plus.google.com"] {
	background-image: url(../img/gplus.png);
}


/* NÃO MEXER */
#copy{
	list-style-type: none;
	text-align: center;
	color: #fff;
	margin-top: -40px;
} 
/* ------------- */


/* CSS DOS JAVASCRIPT  - BOTÃO DE PLAY/PAUSE DOS BANNERS */
.destaque {
	position: relative;
}
.pause,
.play {
display: block;
position: absolute;
right: 15px;
top: 15px;
}
.pause {
border-left: 10px solid #5F5F5F;
border-right: 10px solid #5F5F5F;
height: 30px;
width: 5px;
}
.play {
border-left: 25px solid #5F5F5F;
border-bottom: 15px solid transparent;
border-top: 15px solid transparent;
}


/*______________________________   BLUSAS _______________________________________________________*/



header {
	position: relative;
}

.menu-opcoes {
	position: absolute;
	bottom: 0;
	right: 0;
	text-decoration: none;
}

.menu-opcoes ul {
	font-size: 15px;
	text-decoration:none; 
}

.menu-opcoes ul li {
	display: inline;
	margin-left: 20px; 
	text-decoration:none; 
}

.menu-opcoes a {
	/*color: #003366;*/
	text-decoration:none; 
}

/*Adicionando estados nos links */
.menu-opcoes a:hover {
	color: #007dc6;
	text-decoration:none; 
}
.menu-opcoes a:active {
	color: #007dc6;
	text-decoration:none; 
}
/* */



/* MENU DOS DEPARTAMENTOS */

.busca input [type=search] {
	width: 150px;

}

.destaque {
	margin-top: 10px;
	margin-bottom: 150px;
}
.busca {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;

}

.busca,
.menu-departamentos {
	background-color: #dcdcdc;
	/*font-weight: bold;*/
	/*text-transform: capitalize lowercase;*/
	float: left;
	margin-right: 10px;
	width: 230px;

}

.menu-departamentos {
	clear: left;
	margin-top: 4px;
	/*padding-bottom: 280px;*/
	height: 440px;
}


.menu-departamentos a {
	color: #202930;
	text-decoration: none;
}

/* COR QUE FICA QUANDO PASSA MOUSE ENCIMA DOS LINKS DOS DEPARTAMENTOS*/
.menu-departamentos a:hover{
	color: #70146B
}

/*ADICIONANDO ESTILO - COMO OS LINKS DO MENU DE BLUSAS SE COMPORTAM NO MENU DOS DEPARTAMENTOS */
.menu-departamentos li ul {
	display: none;
	/*margin-top: 5px;*/
	/*margin-left: -45px;*/
}

.menu-departamentos ul ul li {
	background-color: #dcdcdc;
}

/*.painel h2:before {
	content: '\273B';
	/*padding-right: 500px;
	opacity: 0;
}*/
/*FIM DAS ALTERAÇÕES */


/*PRODUTOS */

#fotos{
	margin-left: 100px;
	width: 700px;
}

/*.painel {
	display: flex;
	flex-wrap: wrap;
	
}*/

.painel li {
	display: inline-block;
}


.painel li:hover{
	/* Faz com que mostre uma sombra por trás e que ela apareça suavemente*/
	/*box-shadow: 0 0 5px #333;
	transition: box-shadow 0.7s;*/
/* faz com que o fundo fique branco quando passar o mouse por cima do produto*/
	background-color: rgba(255,255,255,0.8);
	
	transition: 0.1s;
	transform: scale(1.2) rotate(1deg);
/* Quando passar o mouse, aumenta o elemento em 20%, como se fosse um ZOOM*/
	/*transform: scale(1.2) rotate(-1deg); /*rotaciona em 2 graus sentido anti-horário*/
	/*font-family: "Lucida ans Unicode", "Lucida Grande";
	text-decoration-style: double; */
}

.painel a {
	/* nome dos produtos que sao linkados */
	color: #000;
	font-size: 16px;
	text-align: center; 
	text-decoration: none;
}

.produtos {
	/*margin-left: 30px;*/
	display: inline-block;
}

/*ol {
	text-align: center;
	font-size: 15px;
}*/

section img {
	width: 180px;
	height: 239px;
	vertical-align: all;
}

.painel figcaption{
	width: 180px;
	font-size: 16px;
	padding-bottom: 5px;
}


.social {
	position: absolute;
	top: 20px;
	right: 0;
	vertical-align: middle;
}

.social li {
	float: right;
	margin-left: 25px;
	margin-top: -21px;
	list-style-type: none;
}

.social a {
	/*tamanho do imagem */
	height: 32px;
	width: 32px;

	/*image replacement */
	display: block;
	text-indent: -9999px;
}

.social a[href*="facebook.com"] {
	background-image: url(../img/face.png);
}

.social a[href*="twitter.com"] {
	background-image: url(../img/twit.png);
}

.social a[href*="plus.google.com"] {
	background-image: url(../img/gplus.png);
}


/*_______________________________________________*/