.sacola {
	background: url(../img/sacola_1.png) no-repeat top right;

	font-size: 14px;
	padding-right: 35px;
	text-align: right;
	width: 59px;

	text-decoration: none;
	position: absolute;
	top: 0;
	right: 0;
}

.menu-departamentos li li a:before {
    content: '\2741';
}

header {
	position: relative;
}

.menu-opcoes {
	position: absolute;
	bottom: 0;
	right: 0;
	text-decoration: none;
}

.menu-opcoes ul {
	font-size: 15px;
	text-decoration:none; 
}

.menu-opcoes ul li {
	display: inline;
	margin-left: 20px; 
	text-decoration:none; 
}

.menu-opcoes a {
	color: #003366;
	text-decoration:none; 
}

/*Adicionando estados nos links */
.menu-opcoes a:hover {
	color: #007dc6;
	text-decoration:none; 
}
.menu-opcoes a:active {
	color: #007dc6;
	text-decoration:none; 
}

/* */

body {
	color: #333333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


/* MENU DOS DEPARTAMENTOS */

.busca input [type=search] {
	width: 170px;

}


.destaque {
	margin-top: 10px;
}
.busca {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;

}

.busca,
.menu-departamentos {
	background-color: #dcdcdc;
	/*font-weight: bold;*/
	text-transform: capitalize lowercase;
	float: left;
	margin-right: 10px;
	width: 230px;

}

.busca h2,
.busca form,
.menu-depertamentos h2 {
	margin: 10px;
	margin-left: 5px;
}

.menu-departamentos {
	clear: left;
	margin-top: 5px;
	padding-bottom: 1200px;
}

.menu-departamentos li {
	list-style-type: none; /* faz com que não apareça o símbolo que mostra que é uma lista sabe */
	background-color: white;
	margin-bottom: 1px;
	padding: 5px 3px;
	border: 1px 0px 0px 2px solid #dcdcdc;
	margin: 1px 2px 0px 2px;
	border-radius: 3px;

}

.menu-departamentos a {
	color: #202930;
	text-decoration: none;
}

/* COR QUE FICA QUANDO PASSA MOUSE ENCIMA DOS LINKS DOS DEPARTAMENTOS*/
/* COR DE QUANDO O MOUSE PASSA ENCIMA */
.menu-departamentos a:hover{
	color: #550BA8
}

/*ADICIONANDO ESTILO - COMO OS LINKS SE COMPORTAM NO MENU DOS DEPARTAMENTOS */
.menu-departamentos li ul {
	display: none;
	margin-top: 3px;
	margin-left: -10px;
}
.menu-departamentos li:hover ul {
	display: block;
	position: absolute;

	background-color: #FFFFFF;
}

.menu-departamentos ul ul li {
	background-color: #dcdcdc;
}

.painel h2:before {
content: '\2756';
padding-right: 500px;
opacity: 0;
}
/*FIM DAS ALTERAÇÕES */

/*------------------------------------------------------------*/


/*PRODUTOS */

/* título */
#nossos_produtos {
	text-align: center;
}

.lista_produtos{
	position: relative;
}

.painel {
	display: flex;
	flex-wrap: wrap;
	width: 210px;
	
}

.painel li {
	display: inline-block;
	
}


.painel li:hover{
	/* Faz com que mostre uma sombra por trás e que ela apareça suavemente*/
	/*box-shadow: 0 0 5px #333;
	transition: box-shadow 0.7s;*/
/* faz com que o fundo fique branco quando passar o mouse por cima do produto*/
	background-color: rgba(255,255,255,0.8);
	
	transition: 0.1s;
	transform: scale(1.2) rotate(1deg);
/* Quando passar o mouse, aumenta o elemento em 20%, como se fosse um ZOOM*/
	/*transform: scale(1.2) rotate(-1deg); /*rotaciona em 2 graus sentido anti-horário*/
	/*font-family: "Lucida ans Unicode", "Lucida Grande";
	text-decoration-style: double; */
}

/*.painel a {
	/* nome dos produtos que sao linkados 
	color: #000;
	font-size: 16px;
	text-align: center; 
	text-decoration: none;
}*/

.produtos {
	float: right;
	background: linear-gradient(#FFF, #FFF);
	display: inline-block;
}

.produtos img{
	/*width: 200px;*/
	height: 250px;
}


ol {
	text-align: center;
	font-size: 15px;
}

section img {
	width: 180px;
	height: 239px;
	vertical-align: all;

}

.painel figcaption{
	width: 190px;
	height: auto;
	font-size: 15px;
	/*padding-bottom: 5px;*/
	/*font-weight: bold;*/

}

#paginas{
	border: 1px solid ##FEFCFC;
	float: right;
	/*width: 200px;*/
}

#paginas a:hover{
	color: #32F712;
}

table{
	padding-bottom: 5px;
}

tr {
	text-align: center;
	width: 200px;
	margin-top: 20px;
}

/* ----------------------------------------------------------------*/


/* RODAPÉ */

footer {
	background-image: url(../img/fundo-rodape.png);
	clear: both;
	padding: 20px 0;
}

footer .container {
	position: relative;
}

.social {
	position: absolute;
	top: 12px;
	right: 0;
}

.social li {
	float: left;
	margin-left: 25px;
	margin-top: -21px;
	list-style-type: none;
}

.social a {
	/*tamanho do imagem */
	height: 32px;
	width: 32px;

	/*image replacement */
	display: block;
	text-indent: -9999px;
}

.social a[href*="facebook.com"] {
	background-image: url(../img/face.png);
}

.social a[href*="twitter.com"] {
	background-image: url(../img/twit.png);
}

.social a[href*="plus.google.com"] {
	background-image: url(../img/gplus.png);
}
